In [2]:
import pandas as pd

In [3]:
#List to Series with default index
s = pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [5]:
S = pd.Series() #Empty series 
print(S)

Series([], dtype: float64)

/tmp/ipykernel_6911/3780755642.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = pd.Series()

In [6]:
ss = pd.Series([1,2,3], index = ['a', 'b', 'c'])
print(ss)

a    1
b    2
c    3
dtype: int64

In [8]:
#Dictionary to Series
SS = pd.Series({'a':1, 'b':2, 'c':3})
print(SS)

a    1
b    2
c    3
dtype: int64

In [10]:
sss = pd.Series((1,2,3,4), index=['a', 'b', 'c', 'd'])
print(sss)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
print(sss['d'])

4

In [19]:
print(sss[:3])

a    1
b    2
c    3
dtype: int64

In [23]:
print(sss[['a','d']])

a    1
d    4
dtype: int64

In [29]:
print(sss[sss>2])

c    3
d    4
dtype: int64

In [28]:
print([sss>2])

[a    False
b    False
c     True
d     True
dtype: bool]

In [30]:
print(sss*2)

a    2
b    4
c    6
d    8
dtype: int64

In [41]:
data = {
    'Name':['Guru', 'Rajendra', 'Om', 'Sourav','Sai'],
    'Age': [21,21,21,20,21],
    'City':['Cuttack','Angul','Jamshedpur','Balasore','BBSR']
}

df = pd.DataFrame(data)
print(df)

       Name  Age        City
0      Guru   21     Cuttack
1  Rajendra   21       Angul
2        Om   21  Jamshedpur
3    Sourav   20    Balasore
4       Sai   21        BBSR

In [42]:
print(df.shape)
print()
print(df.info())#rw-rw-r--1
print()
print(df.describe())

(5, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

             Age
count   5.000000
mean   20.800000
std     0.447214
min    20.000000
25%    21.000000
50%    21.000000
75%    21.000000
max    21.000000

In [46]:
print(df['Name'],"\n")
print(df[['Name','Age']],"\n")
print(df.iloc[0],"\n")
print(df.loc[0,'Name'],"\n")

0        Guru
1    Rajendra
2          Om
3      Sourav
4         Sai
Name: Name, dtype: object

       Name  Age
0      Guru   21
1  Rajendra   21
2        Om   21
3    Sourav   20
4       Sai   21

Name       Guru
Age          21
City    Cuttack
Name: 0, dtype: object

Guru

In [5]:
#Series with nd Array
import pandas as pd
import numpy as np

arr = np.array([10,20,30])
s = pd.Series(arr)
print(s)

0    10
1    20
2    30
dtype: int64

In [9]:
#Series with Mutable index
ar = np.array(['a','b',1,2])
ss = pd.Series(ar, index=['1','2','3','4'])
print(ss)

1    a
2    b
3    1
4    2
dtype: object

In [11]:
#Creating Series from Scalar Values
S = pd.Series('Rajendra',index=[0,1,2,3,4,5,6,7,8,9])
print(S)

0    Rajendra
1    Rajendra
2    Rajendra
3    Rajendra
4    Rajendra
5    Rajendra
6    Rajendra
7    Rajendra
8    Rajendra
9    Rajendra
dtype: object

In [24]:
ar1 = np.array([1,2,3,4])
ar2 = np.array([10,20,30,40])
ar3 = np.array([1,2,3,4,5])
s1 = pd.Series(ar1,index=['1','2','3','4'])
s2 = pd.Series(ar2,index=['1','2','3','4'])
s3 = pd.Series(ar3,index=['1','2','3','4','5'])
print(s1,"\n")
print(s2,"\n")
print(s1+s2,"\n")
print(s2+s3,"\n")
print(s2.add(s3,fill_value=50))

1    1
2    2
3    3
4    4
dtype: int64

1    10
2    20
3    30
4    40
dtype: int64

1    11
2    22
3    33
4    44
dtype: int64

1    11.0
2    22.0
3    33.0
4    44.0
5     NaN
dtype: float64

1    11.0
2    22.0
3    33.0
4    44.0
5    55.0
dtype: float64

In [27]:
arr = np.array([61,51,31,41,71,21,81])
s = pd.Series(arr)
print(s.head())
print(s.head(3))
print(s.tail())
print(s.tail(1))

0    61
1    51
2    31
3    41
4    71
dtype: int64
0    61
1    51
2    31
dtype: int64
2    31
3    41
4    71
5    21
6    81
dtype: int64
6    81
dtype: int64

In [30]:
arr =np.array([10,20,30,40,50,60,70])
s = pd.Series(arr)
print(s)
print(s.loc[:2]) #inclusive of 2 as it just do indexing
print(s.iloc[:2]) #exclusive of 2 as it do +1 and py ignores last
print(s.loc[3:4])
print(s.iloc[3:4])
print(s.loc[2:3])

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64
0    10
1    20
2    30
dtype: int64
0    10
1    20
dtype: int64
3    40
4    50
dtype: int64
3    40
dtype: int64
2    30
3    40
dtype: int64

In [31]:
dicti = {
    'Name':['Guru', 'Rajendra', 'Om', 'Sourav','Sai'],
    'Age': [21,21,21,20,21],
    'City':['Cuttack','Angul','Jamshedpur','Balasore','BBSR']
}

s = pd.Series(dicti)
print(s)

Name               [Guru, Rajendra, Om, Sourav, Sai]
Age                             [21, 21, 21, 20, 21]
City    [Cuttack, Angul, Jamshedpur, Balasore, BBSR]
dtype: object

In [6]:
import pandas as pd
import numpy as np
tuplee = ("Rajendra", 20)
s = pd.Series(tuplee)
print(s)
print(s.index)

0    Rajendra
1          20
dtype: object
RangeIndex(start=0, stop=2, step=1)

In [7]:
s= pd.Series(['a','b','c'])
df = pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c

In [9]:
name = pd.Series(["Rajendra","Aryan"])
char = pd.Series([8,5])
alias = pd.Series(["NIL","NIL"])
dicti = {"Name": name, "Char": char, "Alias":alias}
df = pd.DataFrame(dicti)
print(df)

       Name  Char Alias
0  Rajendra     8   NIL
1     Aryan     5   NIL

In [20]:
dicti = [
    {"D1":"D11","D2":"D22","D3":"D33"},
    {"D1":"F11","D2":"F22","D3":"F33"},
    {"D1":"G11","D2":"G22","D3":"G33"},
]
df =pd.DataFrame(dicti)
print(df,"\n")
print(df[['D1','D3']])

    D1   D2   D3
0  D11  D22  D33
1  F11  F22  F33
2  G11  G22  G33

    D1   D3
0  D11  D33
1  F11  F33
2  G11  G33

In [21]:
for(index, val) in df.iterrows(): #rows
    print("\nRow index is: ", index)
    print("Row Value is: ")
    print(val)

Row index is:  0
Row Value is:
D1    D11
D2    D22
D3    D33
Name: 0, dtype: object

Row index is:  1
Row Value is:
D1    F11
D2    F22
D3    F33
Name: 1, dtype: object

Row index is:  2
Row Value is:
D1    G11
D2    G22
D3    G33
Name: 2, dtype: object

In [22]:
for(index, val) in df.items():  #cols
    print("\nColumn name is: ", index)
    print("Column value is: ")
    print(val)

Column name is:  D1
Column value is:
0    D11
1    F11
2    G11
Name: D1, dtype: object

Column name is:  D2
Column value is:
0    D22
1    F22
2    G22
Name: D2, dtype: object

Column name is:  D3
Column value is:
0    D33
1    F33
2    G33
Name: D3, dtype: object

In [23]:
emp = {
    'empID':[101,102,103,104,105],
    'ename':['A','B','C','D','E'],
    'Dept': ['D1','D2','D3','D4','D5']
}
df = pd.DataFrame(emp)
print(df)

   empID ename Dept
0    101     A   D1
1    102     B   D2
2    103     C   D3
3    104     D   D4
4    105     E   D5

In [24]:
df.empID

0    101
1    102
2    103
3    104
4    105
Name: empID, dtype: int64

In [25]:
df['empID']

0    101
1    102
2    103
3    104
4    105
Name: empID, dtype: int64

In [27]:
df[['empID','ename','Dept']]

   empID ename Dept
0    101     A   D1
1    102     B   D2
2    103     C   D3
3    104     D   D4
4    105     E   D5

In [47]:
s = pd.Series([10,20,30,40,50])
df = pd.DataFrame(s)
print(df,"\n")
df.columns=['MLC'] #To remove the default col of data frame as list1
print(df,"\n")
df['Python']=[100,200,300,500,400] #To create a new col List2 with all values as 20
print(df,"\n")
df['Total'] = df['MLC']+df['Python'] #Add col1 and col2 and store in col3
print(df,"\n")

    0
0  10
1  20
2  30
3  40
4  50

   MLC
0   10
1   20
2   30
3   40
4   50

   MLC  Python
0   10     100
1   20     200
2   30     300
3   40     500
4   50     400

   MLC  Python  Total
0   10     100    110
1   20     200    220
2   30     300    330
3   40     500    540
4   50     400    450

In [32]:
del df['Python']

In [33]:
print(df)

   MLC  Total
0   10    110
1   20    220
2   30    330
3   40    540
4   50    450

In [37]:
df.pop('MLC')
print(df)

In [44]:
df.pop('Python')
print(df)

   MLC
0   10
1   20
2   30
3   40
4   50

In [48]:
df = df.drop(columns='Total')
print(df)

   MLC  Python
0   10     100
1   20     200
2   30     300
3   40     500
4   50     400

In [52]:
s = pd.Series([10,20,30,40,50])
df = pd.DataFrame(s)
df.columns = ['List1']
df['List2'] = [10,20,30,40,50]
df1 = df.drop('List2', axis=1) #means to del data column wise
df2 = df.drop(index = [2,3], axis=0) # means to del data row wise
print(df1)
print(df2)

   List1
0     10
1     20
2     30
3     40
4     50
   List1  List2
0     10     10
1     20     20
4     50     50

In [55]:
dicti = {
    "D":{"D1":"D11","D2":"D22","D3":"D33"},
    "E":{"D1":"F11","D2":"F22","D3":"F33"},
    "F":{"D1":"G11","D2":"G22","D3":"G33"},
}
df = pd.DataFrame(dicti)
print(df)
print(df.loc['D2',:]) #only D2 row
print(df.loc['D1':'D2',:]) #only rows from D1 to D3

      D    E    F
D1  D11  F11  G11
D2  D22  F22  G22
D3  D33  F33  G33
D    D22
E    F22
F    G22
Name: D2, dtype: object
      D    E    F
D1  D11  F11  G11
D2  D22  F22  G22

In [56]:
print(df.loc[:,'E'])
print(df.loc[:,'D':'E'])

D1    F11
D2    F22
D3    F33
Name: E, dtype: object
      D    E
D1  D11  F11
D2  D22  F22
D3  D33  F33

In [73]:
emp = {
    'empID':[101,102,108,104,105],
    'ename':['Apple','Banana','Air','D','E'],df.
    'Dept': ['D1','D2','D3','D4','D5']
}
df = pd.DataFrame(emp)
print(df,'\n')
print(df['ename'].sort_values())
print(df.iloc[0:2])

   empID   ename Dept
0    101   Apple   D1
1    102  Banana   D2
2    108     Air   D3
3    104       D   D4
4    105       E   D5

2       Air
0     Apple
1    Banana
3         D
4         E
Name: ename, dtype: object
   empID   ename Dept
0    101   Apple   D1
1    102  Banana   D2

In [75]:
df.tail(2)

   empID ename Dept
3    104     D   D4
4    105     E   D5

In [76]:
df.head(2)

   empID   ename Dept
0    101   Apple   D1
1    102  Banana   D2