In [1]:
import pandas as pd

In [3]:
#List to Series with default index
s = pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [5]:
S = pd.Series() #Empty series 
print(S)

Series([], dtype: float64)

/tmp/ipykernel_6911/3780755642.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = pd.Series()

In [6]:
ss = pd.Series([1,2,3], index = ['a', 'b', 'c'])
print(ss)

a    1
b    2
c    3
dtype: int64

In [8]:
#Dictionary to Series
SS = pd.Series({'a':1, 'b':2, 'c':3})
print(SS)

a    1
b    2
c    3
dtype: int64

In [10]:
sss = pd.Series((1,2,3,4), index=['a', 'b', 'c', 'd'])
print(sss)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
print(sss['d'])

4

In [19]:
print(sss[:3])

a    1
b    2
c    3
dtype: int64

In [23]:
print(sss[['a','d']])

a    1
d    4
dtype: int64

In [29]:
print(sss[sss>2])

c    3
d    4
dtype: int64

In [28]:
print([sss>2])

[a    False
b    False
c     True
d     True
dtype: bool]

In [30]:
print(sss*2)

a    2
b    4
c    6
d    8
dtype: int64

In [41]:
data = {
    'Name':['Guru', 'Rajendra', 'Om', 'Sourav','Sai'],
    'Age': [21,21,21,20,21],
    'City':['Cuttack','Angul','Jamshedpur','Balasore','BBSR']
}

df = pd.DataFrame(data)
print(df)

       Name  Age        City
0      Guru   21     Cuttack
1  Rajendra   21       Angul
2        Om   21  Jamshedpur
3    Sourav   20    Balasore
4       Sai   21        BBSR

In [42]:
print(df.shape)
print()
print(df.info())#rw-rw-r--1
print()
print(df.describe())

(5, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

             Age
count   5.000000
mean   20.800000
std     0.447214
min    20.000000
25%    21.000000
50%    21.000000
75%    21.000000
max    21.000000

In [46]:
print(df['Name'],"\n")
print(df[['Name','Age']],"\n")
print(df.iloc[0],"\n")
print(df.loc[0,'Name'],"\n")

0        Guru
1    Rajendra
2          Om
3      Sourav
4         Sai
Name: Name, dtype: object

       Name  Age
0      Guru   21
1  Rajendra   21
2        Om   21
3    Sourav   20
4       Sai   21

Name       Guru
Age          21
City    Cuttack
Name: 0, dtype: object

Guru