In [1]:
print("Hello from C021")

Hello from C021

In [2]:
age  = 25
print("Integer: ", age, type(age))

Integer:  25 <class 'int'>

In [3]:
height  = 5.9
print("Float", height, type(height))

Float 5.9 <class 'float'>

In [5]:
#Arithmatic Operations
a= 10
b =3
print("Addition: ", a+b)
print("Subtraction: ", a-b)
print("Multiplication: ", a*b)
print("Divison: ", a/b)
print("Floor Division: ", a//b)
print("Modulus: ", a%b)
print("Exponentiation: ", a**b)

Addition:  13
Subtraction:  7
Multiplication:  30
Divison:  3.3333333333333335
Floor Division:  3
Modulus:  1
Exponentiation:  1000

In [8]:
#Comparison Operations
x= 5
y = 8
print("Equal: ", x==y)
print("Not Equal: ", x!=y)
print("Greater than: ", x>y)
print("Lesser than: ", x<y)
# Same with ">=" for "greater than equals to" and "<=" for "less than equals to"

Equal:  False
Not Equal:  True
Greater than:  False
Lesser than:  True

In [9]:
#Logical Operators
p =True
q = False
print("AND:", p and q)
print("OR:", p or q)
print("NOT P:", not p)
print("NOT Q:", not q)

AND: False
OR: True
NOT P: False
NOT Q: True

In [11]:
#String Operations
str1 ="Hello"
str2 = "World"

print("Concatenation: ", str1+ " " + str2)
print("Repetition: ", str1*3)
print("Length: ", len(str1), len(str2))
print("Uppercase: ",str1.upper())
print("Lowercase: ", str2.lower())
print("Contains 'ell': ", 'ell' in str1, 'ell' in str2)

Concatenation:  Hello World
Repetition:  HelloHelloHello
Length:  5 5
Uppercase:  HELLO
Lowercase:  world
Contains 'ell':  True False

In [29]:
#For Loop
for i in range(1, 10):
    print(i, end=" ")
print()
arr = [1,2,24,5,6,7,8,136,6,3,62346,]
for num in arr:
    print(num, end=" ")
# print()
# for num in arr:
#     for i in range(1,10):
#         print(i, end=" ")


#for i in range(x,y,z)
# x- starting 
# y- end
# z - increament

1 2 3 4 5 6 7 8 9
1 2 24 5 6 7 8 136 6 3 62346 [1] [2] [3] [4] [5] [6] [7] [8] [9]

In [36]:
#While Loop

count = 10
while count > 0:
    print(count, end=" ")
    count-=1

10 9 8 7 6 5 4 3 2 1