In [2]:
import pandas as pd

In [3]:
#List to Series with default index
s = pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

In [5]:
S = pd.Series() #Empty series 
print(S)

Series([], dtype: float64)

/tmp/ipykernel_6911/3780755642.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S = pd.Series()

In [6]:
ss = pd.Series([1,2,3], index = ['a', 'b', 'c'])
print(ss)

a    1
b    2
c    3
dtype: int64

In [8]:
#Dictionary to Series
SS = pd.Series({'a':1, 'b':2, 'c':3})
print(SS)

a    1
b    2
c    3
dtype: int64

In [10]:
sss = pd.Series((1,2,3,4), index=['a', 'b', 'c', 'd'])
print(sss)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
print(sss['d'])

4

In [19]:
print(sss[:3])

a    1
b    2
c    3
dtype: int64

In [23]:
print(sss[['a','d']])

a    1
d    4
dtype: int64

In [29]:
print(sss[sss>2])

c    3
d    4
dtype: int64

In [28]:
print([sss>2])

[a    False
b    False
c     True
d     True
dtype: bool]

In [30]:
print(sss*2)

a    2
b    4
c    6
d    8
dtype: int64

In [41]:
data = {
    'Name':['Guru', 'Rajendra', 'Om', 'Sourav','Sai'],
    'Age': [21,21,21,20,21],
    'City':['Cuttack','Angul','Jamshedpur','Balasore','BBSR']
}

df = pd.DataFrame(data)
print(df)

       Name  Age        City
0      Guru   21     Cuttack
1  Rajendra   21       Angul
2        Om   21  Jamshedpur
3    Sourav   20    Balasore
4       Sai   21        BBSR

In [42]:
print(df.shape)
print()
print(df.info())#rw-rw-r--1
print()
print(df.describe())

(5, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

             Age
count   5.000000
mean   20.800000
std     0.447214
min    20.000000
25%    21.000000
50%    21.000000
75%    21.000000
max    21.000000

In [46]:
print(df['Name'],"\n")
print(df[['Name','Age']],"\n")
print(df.iloc[0],"\n")
print(df.loc[0,'Name'],"\n")

0        Guru
1    Rajendra
2          Om
3      Sourav
4         Sai
Name: Name, dtype: object

       Name  Age
0      Guru   21
1  Rajendra   21
2        Om   21
3    Sourav   20
4       Sai   21

Name       Guru
Age          21
City    Cuttack
Name: 0, dtype: object

Guru

In [5]:
#Series with nd Array
import pandas as pd
import numpy as np

arr = np.array([10,20,30])
s = pd.Series(arr)
print(s)

0    10
1    20
2    30
dtype: int64

In [9]:
#Series with Mutable index
ar = np.array(['a','b',1,2])
ss = pd.Series(ar, index=['1','2','3','4'])
print(ss)

1    a
2    b
3    1
4    2
dtype: object

In [11]:
#Creating Series from Scalar Values
S = pd.Series('Rajendra',index=[0,1,2,3,4,5,6,7,8,9])
print(S)

0    Rajendra
1    Rajendra
2    Rajendra
3    Rajendra
4    Rajendra
5    Rajendra
6    Rajendra
7    Rajendra
8    Rajendra
9    Rajendra
dtype: object

In [24]:
ar1 = np.array([1,2,3,4])
ar2 = np.array([10,20,30,40])
ar3 = np.array([1,2,3,4,5])
s1 = pd.Series(ar1,index=['1','2','3','4'])
s2 = pd.Series(ar2,index=['1','2','3','4'])
s3 = pd.Series(ar3,index=['1','2','3','4','5'])
print(s1,"\n")
print(s2,"\n")
print(s1+s2,"\n")
print(s2+s3,"\n")
print(s2.add(s3,fill_value=50))

1    1
2    2
3    3
4    4
dtype: int64

1    10
2    20
3    30
4    40
dtype: int64

1    11
2    22
3    33
4    44
dtype: int64

1    11.0
2    22.0
3    33.0
4    44.0
5     NaN
dtype: float64

1    11.0
2    22.0
3    33.0
4    44.0
5    55.0
dtype: float64

In [27]:
arr = np.array([61,51,31,41,71,21,81])
s = pd.Series(arr)
print(s.head())
print(s.head(3))
print(s.tail())
print(s.tail(1))

0    61
1    51
2    31
3    41
4    71
dtype: int64
0    61
1    51
2    31
dtype: int64
2    31
3    41
4    71
5    21
6    81
dtype: int64
6    81
dtype: int64

In [30]:
arr =np.array([10,20,30,40,50,60,70])
s = pd.Series(arr)
print(s)
print(s.loc[:2]) #inclusive of 2 as it just do indexing
print(s.iloc[:2]) #exclusive of 2 as it do +1 and py ignores last
print(s.loc[3:4])
print(s.iloc[3:4])
print(s.loc[2:3])

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64
0    10
1    20
2    30
dtype: int64
0    10
1    20
dtype: int64
3    40
4    50
dtype: int64
3    40
dtype: int64
2    30
3    40
dtype: int64

In [31]:
dicti = {
    'Name':['Guru', 'Rajendra', 'Om', 'Sourav','Sai'],
    'Age': [21,21,21,20,21],
    'City':['Cuttack','Angul','Jamshedpur','Balasore','BBSR']
}

s = pd.Series(dicti)
print(s)

Name               [Guru, Rajendra, Om, Sourav, Sai]
Age                             [21, 21, 21, 20, 21]
City    [Cuttack, Angul, Jamshedpur, Balasore, BBSR]
dtype: object