In [2]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.datasets import load_iris
#LOAD
iris = load_iris()
X = iris.data
#apply
pca = PCA(n_components=2)
X_pca = pca.fit_transform(X)
print(X.shape)
print(X_pca.shape)

(150, 4)
(150, 2)

In [9]:
import pandas as pd
data = pd.read_csv("btissue.csv")

# pca = PCA(n_components=2)
# X_pca = pca.fit_transform(data)
# print(X.shape)
# print(X_pca.shape)

In [11]:
D1 = data
D2 = pd.get_dummies(D1,drop_first=True) #Conversion from normal to ordinal data

In [12]:
pca1 = PCA(n_components=2)
data_pca = pca1.fit_transform(D2)
print(data.shape)
print(data_pca.shape)

(106, 10)
(106, 2)

In [16]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.datasets import load_iris

iris = load_iris()
X,y = iris.data, iris.target
lda = LinearDiscriminantAnalysis(n_components=2)
X_lda=lda.fit_transform(X,y)
print(X.shape)
print(X_lda.shape)

(150, 4)
(150, 2)

In [18]:
import numpy as np
from sklearn.decomposition import TruncatedSVD
X=np.random.rand(5,4)
svd=TruncatedSVD(n_components=2)
X_svd = svd.fit_transform(X)
print(X.shape)
print(X_svd.shape)

(5, 4)
(5, 2)

In [19]:
import pandas as pd
data = {
    "length":[10,20,30,40],
    "breadth":[1,2,3,4],
    "price":[100,200,300,400]
}
df = pd.DataFrame(data)
df["area"]=df["length"]*df["breadth"]
df

   length  breadth  price  area
0      10        1    100    10
1      20        2    200    40
2      30        3    300    90
3      40        4    400   160

In [23]:
#Encoding Nominal variables
data = {
    "city":['bbs','ctc','kgp','jsr'],
    "athlete":['Y','N','Y','N'],
    "winning":['Y','N','Y','N']
}
df = pd.DataFrame(data)
print(df)
pd.get_dummies(df,drop_first=False)

  city athlete winning
0  bbs       Y       Y
1  ctc       N       N
2  kgp       Y       Y
3  jsr       N       N

,city_bbs,city_ctc,city_jsr,city_kgp,athlete_N,athlete_Y,winning_N,winning_Y
0,1,0,0,0,0,1,0,1
1,0,1,0,0,1,0,1,0
2,0,0,0,1,0,1,0,1
3,0,0,1,0,1,0,1,0